<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.15/tailwind.min.css">
</head>
<body class="bg-gray-900 text-white">

<header class="bg-blue-500">
    <div class="container mx-auto px-4 text-center">
        <h1 class="text-3xl font-bold py-6">Search Rick and Morty Characters</h1>
    </div>
    <div class="bg-blue-700 py-4">
        <div class="container mx-auto px-4 md:flex md:justify-center md:items-center md:gap-2">
            <form action="{{ path('characters') }}" method="get"
                  class="flex flex-col md:flex-row md:justify-center md:items-center gap-4">
                <div>
                    <label for="category" class="mr-2">Search:</label>
                    <select name="category" id="category"
                            class="p-2 rounded border border-gray-300 text-black md:w-auto">
                        <option value="name" {% if app.request.query.get('category') == 'name' %}selected{% endif %}>
                            Character Name
                        </option>
                        <option value="location"
                                {% if app.request.query.get('category') == 'location' %}selected{% endif %}>
                            Character Last Location
                        </option>
                        <option value="dimension"
                                {% if app.request.query.get('category') == 'dimension' %}selected{% endif %}>
                            Character Last Dimension
                        </option>
                        <option value="episode-name"
                                {% if app.request.query.get('category') == 'episode-name' %}selected{% endif %}>
                            Episode Name
                        </option>
                        <option value="episode-code"
                                {% if app.request.query.get('category') == 'episode-code' %}selected{% endif %}>
                            Episode Code
                        </option>
                    </select>
                </div>
                <div>
                    <label for="searchTerm" class="mr-2">for:</label>
                    <input type="text" name="searchTerm" id="searchTerm"
                           class="w-64 px-4 py-2 border rounded text-black mr-6 md:mr-0 md:w-auto"
                           value="{{ app.request.query.get('searchTerm') }}" required>
                </div>
                <button type="submit" class="bg-blue-500 text-white p-2 rounded ml-2">Search</button>
            </form>
        </div>
    </div>
</header>

<main class="container mx-auto px-4 py-8 mt-6 mb-12">
    {% block content %}{% endblock %}
</main>

<footer class="bg-blue-900 py-4 fixed inset-x-0 bottom-0">
    <div class="container mx-auto px-4">
        <p class="text-center text-sm">&copy; {{ 'now'|date('Y') }} Rick and Morty App</p>
    </div>
</footer>

</body>
</html>