{% extends 'base.html.twig' %}

{% block content %}
    <p class="text-lg text-center mt-8">Welcome to the Rick and Morty App!</p>
    <p class="text-lg text-center">Search for characters with the search bar above.</p>
{% endblock %}